.ClockIn-main {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 0px 10px;
}

.ClockIn-left {
  width: 50%;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.clock-in {
  background-color: #f8ad15;
}

.clock-out {
  background-color: red;
}

.ClockIn-right {
  /* border: 1px solid rgb(183, 222, 13); */
  width: 50%;
  height: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.ClockIn-left-top {
  background-color: #0cd374;
  padding: 40px 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.ClockIn-left-top1 {
  background-color: #4365cf;
  padding: 40px 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ClockIn-left-top1 svg {
  color: white;
  font-size: 30px;
}

.ClockIn-left-top p {
  font-size: 16px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.ClockIn-left-top1 p {
  font-size: 16px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.Change-Employee-clockin {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 50px 0px 0px 0px;
  margin: auto;
}

.password-clockin {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.password-clockin input {
  width: 100%;
  /* Occupy full width */
  padding: 15px 10px;
  border-radius: 10px;
  border: 2px solid #c3c0cb;
  /* Add border */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

.password-clockin input[type="password"]:focus {
  outline: none;
  border-color: #5110ba;
  /* Change border color when the input is focused */
}

.for-checkin-btn {
  padding: 0px 32px;
}

.for-checkin-btn button {
  width: 150px;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  /* background-color: #F8Ad15; */
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
}

.Employee-name h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0d0d0d;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.password-clockin label {
  font-size: 14px;
  padding: 5px 0px;
}

.password-clockin label {
  font-size: 14px;
  padding: 5px 0px;
}

.Change-Employee-clockin p {
  font-size: 16px;
  color: #4365cf;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

/*============= DropDownCss ======================*/
.css-1wo9mtq-MuiFormControl-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  width: 100%;
  margin-top: 45px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline :focus {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0px 10px !important;
  pointer-events: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: #c3c0cb !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline :focus {
  /* border-color: #4365cf !important; */
}

.css-hdw1oc {
  float: right !important;
  overflow: hidden;
  padding: 0;
  line-height: 11px;
  -webkit-transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: sans-serif !important;
  font-weight: 400;
  font-size: 16px !important;
  color: #c3c0cb !important;
  border-radius: 10px !important;
}
